
*

!.gitignore
!LICENSE

!docs/
!docs/**

!core/
!core/**
!modules/
!modules/**
!personal/
!personal/**
!personal-template/
!personal-template/**
!snippets/
!snippets/**

!modules-new/
!modules-new/**

!local/

!early-init.el
!early-config-pre.el
!init.el
!README.org
