
*

!.gitignore
!.gitmodules
!LICENSE

!docs/
!docs/**

!core/
!core/**
!modules/
!modules/**
!personal/
!personal/**
!personal-template/
!personal-template/**
!snippets/
!snippets/**
!submodules/
!submodules/**

!modules.old/
!modules.old/**

!core.old/
!core.old/**


!local/

!early-init.el
!early-config-pre.el
!init.el
!README.org
